.Homepage {
  background-color: #f8fbfc;
  width: 90vw;
  height: 80vh;
  margin: 0 5vw 0 5vw;
  display: flex;
}

.selfimg {
  flex: 4;
}

.mainhome {
  padding: 50px;
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mainhome button {
  width: fit-content;
  padding: 15px;
}

.mainhome h1 {
  font-size: 4rem;
  font-weight: border;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.mainhome p {
  font-size: 2rem;
  display: inline-block;
  font-weight: lighter;
}

span {
  font-weight: bold;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 4.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 40%;
  }
}
