.footer {
  display: flex;
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 2vh 5vw 2vh 5vw;
  align-items: center;
  justify-content: space-between;
}

.sociallogo {
  display: flex;
}

.sociallogo a {
  width: 15%;
  margin-left: 20px;
  aspect-ratio: 4/3;
  color: #000;
  object-fit: contain;
  border-radius: 10%;
  padding: 2px;
}
